body {
  padding: 50px;
}
.container div {
  text-align: center;
  color: #fff;
  font-size: 2em;
}
.container div:nth-child(1) {
  background: #96ceb4;
}
.container div:nth-child(2) {
  background: #ff6f69;
}
.container div:nth-child(3) {
  background: #88d8b0;
}
.container div:nth-child(4) {
  background: #ffcc5c;
}
.container div:nth-child(5) {
  background: #96ceb4;
}
.container div:nth-child(6) {
  background: #ff6f69;
}

.container {
  display: grid;
  /* 1.컬럼의 종류와 특징*/
  grid-template-columns: 100px auto;
  grid-template-rows: 50px 50px;
  grid-gap: 10px;
}

.gaps_img_box {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  justify-content: center;
}
.explain_img {
  height: 700px;
}
.direction_box {
  display: flex;
  flex-direction: column;
}
.gaps_img {
  height: 500px;
}

span {
  font-size: 20px;
  color: red;
}
